* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: 1.05rem 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

body {
    background-color: #f3f6f7;
}

h1,
h2 {
    color: #f3f6f7;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    background-color: #1b1c1c;
    font-size: 2.3rem;
    letter-spacing: -0.02rem;
    margin: 1.2rem 0;
    padding: 2rem 0;
}

h2 {
    background: linear-gradient(60deg, #1b1c1c 12rem, #f3f6f7 12rem);
    font-size: 1.6rem;
    padding: 0.9rem 1.2rem;
}

header img {
    display: block;
    margin: 1.2rem auto;
    max-width: 300px;
}

li ul {
    padding: 0.4rem 1.2rem 0 2.2rem;
}

div {
    background-color: #e5eff0;
    box-shadow: inset 0 -6px 14px -6px rgba(27, 28, 28, 0.25);
    color: #1b1c1c;
    margin: 0 auto 1.2rem;
    padding-bottom: 0.2rem;
}

header {
    text-align: center;
}

header p {
    padding-bottom: 1.2rem;
}

article p {
    padding: 1.2rem;
}

ul {
    list-style-type: none;
    padding: 1.2rem 1.2rem 1.2rem 2.2rem;
}

div > ul > li + li {
    margin-top: 0.8rem;
}

li ul li + li {
    margin-top: 0.3rem;
}

ul li::before {
    color: #1b1c1c;
    content: '» ';
    font-size: 1.2em;
    font-weight: bold;
    margin-left: -0.85rem;
}

h1,
h2,
article p,
ul {
    margin: auto;
    max-width: 860px;
}

.bold {
    font-weight: bold;
}

time {
    font-style: italic;
}

a,
a:active,
a:visited {
    color: #1b218d;
}

a:focus,
a:hover {
    outline: 0.2em outset #1b1c1c;
}

/* Media Queries */
@media (min-width: 520px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        background: linear-gradient(60deg, #1b1c1c 13rem, #f3f6f7 13rem);
        font-size: 1.8rem;
    }

}

@media (min-width: 700px) {

    header p {
        display: inline-block;
        vertical-align: middle;
    }

    header p + p {
        padding-left: 5rem;
    }

    header p:last-child {
        text-align: left;
    }

}

@media (min-width: 860px) {

    h1 {
        background: linear-gradient(60deg, #1b1c1c 24rem, #f3f6f7 24rem);
        text-align: left;
        padding-left: 1.2rem;
    }

    header p {
        display: block;
        position: relative;
        top: -21.9rem;
        left: -12rem;
        padding-bottom: 2.4rem;
    }

    header p + p {
        display: block;
        padding-left: 0;
    }

    /* I use a negative margin here to remove the excess space due to relative positioning */
    header p:last-child {
        text-align: center;
        margin-bottom: -18.4rem;
    }

    header img {
        margin-top: 0;
        position: relative;
        top: -6.4rem;
        left: 15.1rem;
    }

}
