* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: 1.05rem 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

h1,
h2 {
    background-color: #1b1c1c;
    color: #f3f6f7;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 2.3rem;
    letter-spacing: -0.02rem;
    margin: 1.2rem 0;
    padding: 2rem 0;
}

h2 {
    font-size: 1.6rem;
}

h2,
article p,
ul {
    padding: 1.2rem;
}

header,
article {
    background-color: #e5eff0;
    color: #1b1c1c;
    margin: 1.2rem auto;
}

header {
    text-align: center;
}

header p {
    padding-bottom: 1.2rem;
}

ul {
    list-style-type: none;
}

li + li {
    margin-top: 0.75rem;
}

/* Media Queries */
@media (min-width: 900px) {

    header p {
        display: inline-block;
        vertical-align: middle;
    }

}
